/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .header-wrapper {
    display: block;
    padding: 0;
    margin: 0;
    background-color: rgb(148, 204, 204);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 0;

}

#hud {
    display: flex;
    padding: 0.7rem;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(0, 255, 234, 0.486) ;
    text-align: center;
    font-weight: 800;
    border-radius: 20px;
    font-family: sans-serif;
    gap: 1rem;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 6px solid darkblue;
    background-color: lightskyblue;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 20px;
}

    .lumiverse-wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin: 1rem; 
    justify-content: center;
    align-items: center;

    font-size: 26px;

    word-spacing: 1px;
    border: 5px solid black;
    background-color: aquamarine;
}

.main-city {
    display: flex;
    flex-wrap: wrap;
}

.rest-worlds {
    display: flex;
    flex-wrap: wrap;
}

.top-title {
    font-size: 36px;

}

.intro-heroes {

}

#quiz {
    
    max-width: 100%;
    margin: 0 ;
    padding: 0;
    border-radius: 50px;
    background-color: rgba(57, 61, 61, 0.795);
    text-align: center;
    color: rgb(255, 217, 0);
    font-size: 20px;
}


.answerBtn {
    display: block;
    width: 100%;
    margin:  10px 0;
    padding:  0 20px;
    font-size: 20px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(18, 78, 241);
    font-weight: 700;

    cursor: pointer;
}
  
.nav-list {
    padding: 1rem;
}
  
}