*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes default margin */
*:not(dialog) {
    margin: 0;
}

/* Enables Keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html{
           interpolate-size: allow-keywords;
    }
}

body {
    /* accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* inherit fonts from form controls */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows  */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* improve line wrapping  */
p {
    text-wrap: pretty;
}

/* create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/* HEADER NAV STYLES */

.header-wrapper {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    background-color: rgb(148, 204, 204);
    border-radius: 0 0 50px 50px;
    


}

.nav-wrapper {
    box-shadow: 0px 0px 50px 50px;
    border-radius: 50px;

}


.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    padding: 2rem 5rem;
    border-radius: 50px;


}

.nav-list a {
    padding: 2rem 0;
    

}

#home-button-icon {
    border-radius: 50px;
}

.home-button {
    padding: 0.5rem 3rem ;
    background-color: rgb(219, 255, 16);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px orange;
}

.quiz-button {
    padding: 0.5rem 1.8rem;
    background-color: rgb(60, 235, 7);
    border-radius: 50px;
    box-shadow: 0px 5px 5px 5px yellow;
}

.play-button {
    padding: 0.5rem 1.8rem;
    background-color: rgb(11, 7, 235);
    border-radius: 50px;
    box-shadow: -8px 8px 8px 5px rgb(212, 0, 255);
}

/*  MAIN SECTION STYLES */

.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    margin-top: 2rem;
    font-size: 60px;
    padding-bottom: 3rem;
    color: orangered;
    background-color: rgba(192, 192, 192, 0.473);
}
.tutorial-title {
    padding: 1rem ;
    border: 5px solid black;
    border-radius: 50px;
    background-color: rgb(4, 173, 4);
    
   
}

.intro-heroes {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 178, 171, 0.829);
    padding: 1rem 2rem;
    border: 5px solid black;
}
.info-heroes {
    border: 5px solid black;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 20px;

}

.rare {
    color: blue;
}
.epic {
    color: rgb(226, 44, 226);
}
.legendary {
    color: orangered;
}
.leaders {
    color: red;
}
.lumipoints-color {
    color: rgb(11, 121, 7);
    
}

#hud {
    display: flex;
    padding: 0.7rem;
    position: fixed;
    top: 10px;
    left: 7px;
    background-color: rgba(0, 255, 234, 0.486) ;
    text-align: center;
    font-weight: 800;
    border-radius: 20px;
    font-family: sans-serif;
    gap: 1rem;

}

#start-quiz {
    border-radius: 20px;
    padding: 0.8rem;
    color: green;
    background-color: aquamarine;
}
#start-quiz:focus {
    transition: ease-in-out 1s;
    transform: scale(1.0);
    
}
#start-quiz:hover {
    transition: ease-in-out 1.2s;
    transform: scale(1.3);
    
}
