*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes default margin */
*:not(dialog) {
    margin: 0;
}

/* Enables Keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html{
           interpolate-size: allow-keywords;
    }
}

body {
    /* accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* inherit fonts from form controls */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows  */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* improve line wrapping  */
p {
    text-wrap: pretty;
}

/* create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/* HEADER NAV STYLES */

.header-wrapper {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    background-color: rgb(148, 204, 204);
    border-radius: 0 0 50px 50px;
    position: sticky;
    top: 0;


}

.nav-wrapper {
    box-shadow: 0px 0px 50px 50px;
    border-radius: 50px;
    

}


.nav-list {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    margin: auto;
    padding: 1.5rem 5rem;
    border-radius: 50px;


}

.nav-list a {
    padding: 2rem 0;
    
    

}

#home-button-icon {
    border-radius: 50px;
}

.home-button {
    padding: 0.5rem 3rem ;
    background-color: rgb(219, 255, 16);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px orange;
}

.quiz-button {
    padding: 0.5rem 1.8rem;
    background-color: rgb(60, 235, 7);
    border-radius: 50px;
    box-shadow: 0px 5px 5px 5px yellow;
}

.play-button {
    padding: 0.5rem 1.8rem;
    background-color: rgb(11, 7, 235);
    border-radius: 50px;
    box-shadow: -8px 8px 8px 5px rgb(212, 0, 255);
}

/*  MAIN SECTION STYLES */

.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    margin-top: 2rem;
    font-size: 60px;
    padding-bottom: 3rem;
    color: orangered;
    background-color: rgba(192, 192, 192, 0.473);
}
.tutorial-title {
    padding: 1rem ;
    border: 5px solid black;
    border-radius: 50px;
    background-color: rgb(4, 173, 4);
    
   
}

.intro-heroes {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 178, 171, 0.829);
    padding: 1rem 2rem;
    border: 5px solid black;
}
.info-heroes {
    border: 5px solid black;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 20px;

}

.rare {
    color: blue;
}
.epic {
    color: rgb(226, 44, 226);
}
.legendary {
    color: orangered;
}
.leaders {
    color: red;
}
.lumipoints-color {
    color: rgb(11, 121, 7);
    
}

#hud {
    display: flex;
    padding: 0.7rem;
    position: fixed;
    top: 50px;
    left: 30px;
    background-color: rgba(0, 255, 234, 0.486) ;
    text-align: center;
    font-weight: 800;
    border-radius: 20px;
    font-family: sans-serif;
    gap: 1rem;

}

#start-quiz {
    border-radius: 20px;
    padding: 0.8rem;
    color: green;
    background-color: aquamarine;
}
#start-quiz:focus {
    transition: ease-in-out 1s;
    transform: scale(1.0);
    
}
#start-quiz:hover {
    transition: ease-in-out 1.2s;
    transform: scale(1.3);
    
}

#start-battle {
    border-radius: 20px;
    padding: 0.8rem;
    color: green;
    background-color: aquamarine;
}
#start-battle:focus {
    transition: ease-in-out 1s;
    transform: scale(1.0);
    
}
#start-battle:hover {
    transition: ease-in-out 1.2s;
    transform: scale(1.3);
    
}

.start-wrapper {
    display: flex;
    gap: 2rem;
    border: 6px solid darkblue;
    background-color: lightskyblue;
    padding: 2rem 4rem;
    margin-top: 1rem;
    border-radius: 20px;
}

#quiz {
    
    max-width: 800px;
    margin: 100px auto;
    padding: 5rem 10rem;
    border-radius: 50px;
    background-color: rgba(57, 61, 61, 0.795);
    text-align: center;
    color: rgb(255, 217, 0);
    font-size: 32px;
}


.answerBtn {
    display: block;
    width: 100%;
    margin:  10px 0;
    padding:  16px 20px;
    font-size: 20px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(18, 78, 241);
    font-weight: 700;

    cursor: pointer;
}

.answerBtn:hover {
    transition: ease-in-out 1.2s;
    background-color: yellow;
}

.lumiverse-wrapper {
    display: flex;
    gap: 3rem;
    padding: 1.5rem;
    margin: 1rem; 
    justify-content: center;
    align-items: center;

    /* font-size: 26px; */

    word-spacing: 1px;
    border: 5px solid black;
    background-color: aquamarine;
}

.lumisquad-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: yellow;
    background-color: darkblue;
    border-radius: 20px;

}
.grimlight-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: darkgray;
    background-color: black;
    border-radius: 20px;
}
.thevoidchoir-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: darkmagenta;
    background-color: lightslategray;
    border-radius: 20px;
}

#lumi-team-image {
    border-radius: 20px;

}
#grim-team-image {
    border-radius: 20px;

}
#void-team-image {
    border-radius: 20px;

}

body {
    background-color: gray;
}


.hero-btn {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 350px;
    background: #222;
    color: bisque;
    border: 4px solid gold;
    cursor: pointer;

}

.hero-btn:hover {
    background: gold;
    color: black
}

.worlds-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;

    padding-top: 5rem;
    border-top: 10px dashed #222;
}

.main-city {
    display: flex;
    gap: 3rem;
    border-left: 10px dashed #222;
    border-right: 10px dashed #222;
    padding: 1rem;

}

.rest-worlds {
    display: flex;
    gap: 3rem;
    justify-content: center;
    border-left: 10px dashed #222;
    border-right: 10px dashed #222;
    border-bottom: 10px dashed #222;
    padding: 1rem;
    
    margin: auto;

}

.halcyon-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: rgb(255, 255, 255);
    background-color: darkblue;
    border-radius: 20px;
}

.theme {
    
    background-color: rgba(0, 255, 234, 0.486);
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    text-align: left;
}

.c-name {
    background-color: rgba(0, 0, 0, 0.288);

}

.about-city {
    background-color: rgb(52, 54, 54);
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
}

.grimlight-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 20px;
}

.void-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 96, 97);
    border-radius: 20px;
}

.luminal-fracture-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 134, 224);
    border-radius: 20px;
}

.ancient-city {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2rem 1.5rem ;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 185, 107);
    border-radius: 20px;
}




/*------------------------- Battle hub syles------------------- */

.battle-top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.fighter {
    width: 45%;
    text-align: center;
}

.fighter img {
    width: 150px;
}

.hp-bar {
    width: 100%;
    height: 1.5rem;
    background: #333;
    margin: 5px 0;
    border-radius: 8px;
    overflow: hidden;
}

#player-hp-bar,
#enemy-hp-bar {
    height: 100%;
    background: limegreen;
    width: 100%;
    transition: width 0.3s ease;
}

.battle-actions {
    text-align: center;
    margin-top: 15px;
}

#hero-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    
}

.sel-hero-tit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    
    
}

